<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New new</title>
</head>
<body>
    <h2>Create New new</h2>

    <form action="/news/create/" method="post">
        {% csrf_token %}
        <label for="title">
            New title
            <input type="text" name="title" id="title">
        </label>
        <br>
        <label for="text">
            Text of the new
            <input type="text" name="text" id="text">
        </label>
        <br>
        <button type="submit">Send new</button>
    </form>
    
    <a target="_blank" href="/news/"> Main page</a>
</body>
</html>
